<% include header %>

<% include index %>


<!--// index.ejs--> 

<div id="container">

<h1>To-Do</h1>

<!--<% include components/add_todo %>-->

<% include components/todo_table %>

<% include footer %>

</div><!-- DIV ID Container -->

